@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}
nav div img{
    margin-right: 30px;
    height: 60px;
}
nav{
    padding: 0px 60px;
    display: flex;
    background-color:  #fff;
    color: rgb(9, 9, 9);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 49px -22px rgba(0,0,0,0.75);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header{
    width: 60%;
    align-items: center;
    display: flex;
}
.header ul a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 49px -22px rgba(242, 235, 235, 0.75);
    margin-right: 40px;
}
.header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-icons{
    width: 10%;
    list-style: none;
    display: flex;
}
 nav i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 40px;
}
.hid{
    display: none;
}
.header ul a:hover{
    cursor: pointer;
    border-bottom: 1px solid rgb(253, 6, 6);
}
.home img{
    width: 100%;
    height: 100vh;
    position: relative;
}
.home img:hover{
    transform: scale(1);
}
.upper-img{
    color: white;
    left: 55px;
    top: 150px;
    font-size: 25px;
    position: absolute;
}
.home button{
    justify-content: center;
    padding: 10px 100px;
    left: 55px;
    bottom: 120px;
    font-size: 15px;
    position: absolute;
}
h1{
    font-weight: 400;
}
h3{
    font-weight: 400;
}

/* g5 are */

.g5{
    height: 75vh;
    margin: 50px 70px;
    display: flex;
}
.g5-text{
    width: 40%;
    height: 80%;
}
.g5-text p{
    margin-bottom: 10px;
    font-size: 30px;
}
.g5-text h1{
    font-size: 64px;
    margin-bottom: 55%;
}
.g5-img{
    width: 60%;
    height: 80%;
}
.g5-img img{
    height: 100%;
    width: 100%;
}
.g5 button{
    padding: 15px 70px;
}
.buy-btn{
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 3px;
}
.learn-btn{
    font-size: 16px;
    padding: 15px 16%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;

}
.g5-img-mobile{
    background-image: url(./assests/LargeCardProduct_PC_10t.jpg.thumb.webp);
    display: none;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.main-tv{
    display: flex;
    margin: 0px 50px;
}
.tv-section{
    display: flex;
    background-color: #f8f8f8;
    width: 50%;
    /* margin: 0px 10px; */
    padding: 20px;
}
.tv-text{
    width: 50%;
}
.show-hide-imagetag{
    display: none;
}
.tv-img{
    width: 50%;
}
.tv-img img{
    width: 300px;
}
.tv-text h1{
    font-size: 45px;
    font-weight: 390;
}
.tv-text h3{
    width: 80%;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 15px;
}
.tv-text p{
    padding-top: 83px;
    padding-bottom: 15px;
}
.tv-section button{
    font-size: 20px;
    padding: 10px 25px
}
.buy-tv-btn{
    border-radius: 3px;
    background-color: black;
    color: white;
}
.learn-tv-btn{
    border: 1px solid black;
    border-radius: 3px;
}
.tv-h1{
    padding-bottom: 90px;
}
.tv-text img{
    display: none;
}
.normal-h1{
    padding-top: 50px;
    margin: 0px 70px;
    font-size: 16px;
    font-weight: 100;
    border-bottom: 2px solid rgb(197, 192, 192);
}
.sub-main ul{
    margin-top: 50px;
    list-style: none;
    display: flex;
}
.sub-main ul li{
    font-size: 25px;
    font-weight: 400;
    margin-right: 35px;
}

.sub-main ul:first-child{
    margin-left: 70px;
}
.mobile{
    padding: 55px 55px 0px 55px;
    display: flex;
}
.mobile img{
    background-color:#f8f8f8;
    width: 320px;
    height: 320px;
}
.sub-mobile{
    width: 25%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
/* target two attr in single one hover */

.sub-mobile:hover .btn-icon{
    justify-content: center;
    background-color: black;
    color: #fff;
}
.mobile-title{
    width: 95%;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile h1{
    font-size: 32px;
}
.mobile p{
    padding-top: 12px;
    color: red;
}
.mobile h6{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.btn-icon{
    display: flex;  
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    background: none;
}
/* .btn-icon:hover{
    background-color: black;
    color: white;
} */
.jan-26{
    height: 500px;
    display: flex;
    margin: 50px 20px 20px 20px;
}
.text-26{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}
.text-26 img{
    display: none;
}
.img-26{
    width: 60%;
    height: 100%;
}
.img-26 img{
    height: 100%;
    width: 100%;
}

.view-all h3{
    margin-top: 80px;
    margin-bottom: 60px;
    font-weight: 400;
    text-align: center;
}
.black-first{
    padding: 80px;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}   
.black-first h2{
    font-size: 32px;
    font-weight: 400;
}
.black-first h1{
    padding-top: 50px;
    font-size: 55px;
    font-weight: 400;
    padding-bottom: 40px;
}
.line{
    padding-top: 20px;
    border-bottom: 2px solid white;
}
.light-white-line{
    padding-top: 20px;
    border-bottom: 2px solid rgb(181, 173, 173);
}
.white-heading{
    color: rgba(0,0,0,.75);
}
.black-first-part{
    display: flex;
    /* flex-direction: row; */
}
.black-first-part-img{
    width: 65%;
}
.black-first-part-img img{
    width: 100%;
    height: 100%;
}
.black-first-part-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
    width: 35%;
}
.black-first-part-text h2{
    font-size: 53px;
    font-weight: 400;
}
.black-first-part-text p{
    font-size: 17px;
    margin-bottom: 20px;
}
.black-link{
    font-size: 18px;
    color: white;
}
.normal-pad{
    margin: 550px;
}
.black-to-white{
    background-color: white;
    color: black;
}
.white-link{
    font-size: 18px;
    color: rgb(9, 9, 9);
}
/* os13 */
.os13{
    height: 100%;
    padding: 60px 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.os13 h3{
    font-size: 27px;
    font-weight: 500;
    color:rgba(75, 73, 73,0.9);
}
.os13 h1{
    font-size: 42px;
    font-weight: 350;
}
.os13 p{
    font-size: 21px;
    font-weight: 400;
    padding-bottom: 30px;
}
.os13 a{
    color: white;
}
.o2{  
    width: 50%;
    background-color:rgba(75, 73, 73,0.4);
    display: flex;
}
.o2-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 50%;
}
.o2-img{
    width: 50%;
    height: 100%;
}
.o2-img img{
    width: 100%;
    height: 100%;
} 
.o3{
    margin-left: 25px;
    background-color:rgba(75, 73, 73,0.4);
    width: 50%;
    display: flex;
}
.o3-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 50%;
}
.o3-img{
    width: 50%;
    height: 100%;
}
.o3-img img{
    height: 100%;
    width: 100%;
}
/* blog */
.blog{
    margin: 50px;
    display: flex;
}
.blog h1{
    font-size: 37px;
    font-weight: 300;
}
.blog p{
    font-size: 18px;
    font-weight: 400;
    color:rgba(33, 31, 31, 0.9);
}
.sub-blog{
    height: 500px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sub-blog img{
    width: 100%;
}
.view-more-head{
    display: flex;
    justify-content: space-between;
}
.support{
    margin: 50px 60px;
    background-color: white;
}
.support h2{
    font-size: 25px;
    font-weight: 400;
    color: rgba(42, 38, 38, 0.9);
    padding-bottom: 5px;
}
.sub-support{
    margin-top: 20px;
    display: flex;
    /* background-color: rgb(208, 196, 188); */
}
.support-left{
    background-color: rgb(208, 196, 188);
    display: flex;
    width: 50%;
}
.support-left img{
    height: 100%;
    width: 100%;
}
.support-right{
    display: flex;
    height: 100%;
    width: 50%;
}
.support-right img{
    height: 100%;
    width: 100%;
}
.support-text{
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.support-img{
    width: 50%;
}
.support h1{
    font-size: 38px;
    font-weight: 370;
}
.support p{
    font-size: 18px;
    font-weight: 400;
    width: 85%;
    margin-bottom: 20px;
}
.support h3{
    color:rgba(137, 123, 123, 0.8);
    font-size: 25px;
    font-weight: 410;
}
.product-section{
    margin: 30px 70px;
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: row; */
}
.product-section span{
    display: flex;
    font-size: 22px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(137, 123, 123, 0.8);
    border-bottom: 1px solid rgba(137, 123, 123, 0.8); 
}
.product-section span:first-child,.product-section span:nth-child(2),.product-section span:nth-child(3){ 
    border-right: 1px solid rgba(137, 123, 123, 0.8);
}
.connected{
    background-color: black;
    color: white;
    padding: 60px 70px;
}
.connected h2{
    font-size: 25px;
    font-weight: 400;
}
.conn-both{
    display: flex;
    margin-top: 30px;
}
.conn-left{
    width: 50%;
    height: 380px;
    background-size: cover;
    background-image: url(./assests/back1.webp);
}
.conn-right{
    background-image: url(./assests/back2.jpg);
    background-size: cover;
    margin-left: 25px;
    width: 50%;
}
.conn-text{
    height: 100%;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conn-text h1{
    font-size: 35px;
    font-weight: 300;
}
.conn-text p{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
    /* margin-bottom: 120px; */
}
.conn-text h6{
    font-size: 15px;
    font-weight: 300;
}
.conn-text button{
    width: 80%;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 12px;
    background: none;
    color: white;
    border: 1px solid white;
}
.plus span{
    padding: 18px 0px 18px 20px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215, 212, 208);
}
.plus span h2 , .plus span h2 i{
    font-weight: 400;
}
.plus span:last-child{
    justify-content: center;
    font-size: 18px;
}
.contact-us{
    text-align: center;
    border-bottom: 2px solid rgb(215, 212, 208);
    margin: 0px 150px 0px 150px;
    padding: 20px 0px;
}
.contact-us a{
    font-size: 22px;
    color: #0ca3ef;
    text-decoration: none;
}
.social-media{
    /* background-color: #0ca3ef; */
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid rgb(215, 212, 208);
}
.footer{
    margin: 10px 50px 50px 50px ;
}
.footer h4{ 
    margin-top: 5px;
    color:rgb(110, 104, 104);
    font-weight: 420;
}
.footer span{
    display: flex;
}
.indi{
    border-bottom: 2px solid rgb(215, 212, 208);
    font-weight: 400;
    padding: 25px 25px 25px 50px;
}
.footer span p{
    margin: 20px 0px;
    padding: 0px 15px 0px 0px;
    border-right: 2px solid rgb(215, 212, 208);
}
.footer span p:last-child{
    border: none;
}
.bor{
    width: 13%;
}
.mgs{ 
    margin-top: 10px;
    padding: 4px;
    font-weight: 420;
    border: 1px solid black;
    border-bottom:none;
    border-radius: 5px 5px 0px 0px;
}
.color-cl{ 
    padding: 4px;
    font-size: 19px;
    border: 1px solid black;
    border-top:none;
    background-color: rgb(15, 243, 7);
    color:rgb(10, 10, 10);
    font-weight: 420;
    border-radius: 0px 0px 5px 5px;
}
/* .cus-fix{
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: fixed;
    z-index: -1;
    top: 5;
} */
img:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
}
@media(max-width : 960px){

    .hid{
        display: block;
    }
    .header ul a{
        display: none;
    }
    .nav-icons a{
        display: none;
    }
    nav{
    padding: 0px 40px;
    padding-right: 20px;
    }
    .header img{
        margin-right: 0px;
    }
    .header{
        justify-content: center;
    }
    .g5{    
        margin: 0px;
        height: 100%;
        width: 100%;
    }
    .g5-text{
        margin-left: 10px;
        width: 100%;
        height: 50%;
    }
    .show-hide-imagetag{
        width: 100%;
        height: 100%;
        display: block;
    }
    .g5-img{
        display: none;
        /* width: 100%; */
    }
    .g5-img-mobile{
        margin-top: 2px;
        width: 75%;
        height: 100%;
        display: block;
    }
    .g5-text h1{
        margin-bottom: 0%;
    }
    .g5 button{
        width: 100%;
    }
    .main-tv{
        flex-direction: column;
        margin: 0px;
    }  
    .tv-section{
        margin: 0px;
    }
    .tv-section{
        width: 100%;
    }
    .tv-text{
        width: 100%;
    }
    .tv-img{
     display: none;
    }
    .tv-text img{
        display: block;
        width: 100%;
    }
    .tv-text p{
        padding: 0px;
    }
    .tv-h1{
        padding: 0px;
    }
    .normal-h1{
        padding-top: 50px;
        margin: 0px 20px;
    }
    .sub-main{
        width: 40%;
    }
     .mobile{
        padding: 0px;
        flex-direction: column;
    } 
    .mobile img{
        width: 80%;
        height: 320px;
    }
    .sub-mobile{
        width: 90%;
        margin-left: 0px;
    }
    .mobile-title{
        width: 80%;
        height: 100%;
    }
    .mobile-title button{
        border: 1px solid black;
    }
    .sub-main ul{
        display: flex;                                                                  
        flex-direction: column;
    }
    .black-first{
        padding: 0px;
        padding: 20px;
    }
    .black-first-part{
        flex-direction: column;
    }
    .black-first-part-img{
        width: 100%;
    }
    .black-first-part-text{
        padding: 0px;
        width: 100%;
    }
    .black-first h1 ,.black-first h2{
        font-size: 25px;
        font-weight: 400;
    }
    .normal-pad{
        margin: 0px;
    }
    .res-im{    
        flex-direction: column-reverse;
    }
    .os13{
        padding: 20px;
        flex-direction: column;
    }
    .o2,.o3{
        width: 100%;
        margin: 0px;
        flex-direction: column-reverse;
    }
    .o2-text , .o3-text{
        width: 100%;
    }
    .o2-img , .o3-img{
        width: 100%;
    }
    .sub-main ul:first-child{
        margin-left: 0%;
    } 
    .btn-icon{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .view-all h3{
        width: 65%;
    }
    .jan-26{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .text-26{
        width: 100%;
    }
    .text-26 img{
        width: 100%;
        height: 50%;
        display: block;
    }
    .img-26{
        display: none;
    }
    .blog{
        padding: 20px;
        flex-direction: column;
    }   
    .blog{
        margin: 0px;
    }
    .sub-blog{
        margin-left: 0px;
    }
    .support{
        padding: 20px;
        margin: 0px;
    }
    .sub-support{
        margin: 0px;
        flex-direction: column; 
    }
    .support-left, .support-right{
        flex-direction: column-reverse;
        width: 100%;
    }
    .support-text{
        padding: 0px;
        width: 100%;
    }
    .support-img{
        width: 100%;
    }
    .product-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact-us{
        margin: 0px;
    }
    .footer{
        margin:0px;
    }
    .footer span{
        margin: 0px 5px;
        flex-wrap: wrap;
    }       
    .footer span p{
        font-size: 15px;
    }
    .bor p{
        font-size: 12px;
    }
    .img-26 img{
        height: 80%;
    }
    .bor{
        width: 40%;
    }
    .indi img{
        width: 8%;
        height: 8%;
    }
    
    
    .connected{
        padding: 5px;
        height: 100%;
    }
    .conn-both{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .conn-left{
        width: 100%;
    }
    .conn-right{
        margin-top: 5px;
        margin-left: 0px; 
        width: 100%;
    }
    .conn-text{
        height: 100%;
        width: 100%;
    }
}
@media(max-width:760px){
    
    .home button{
        bottom: 45px;
     }
}
@media(max-width : 1280px){

    nav{
    padding: 0px 40px;
    padding-right: 20px;
    }
    .header img{
        margin-right: 40px;
        margin-left: 40px;
    }
    .header{
        width: 70%;
        justify-content: center;
    }
    
    .nav-icons{
        width: 15%;
    }
    i{
        margin-right: 15px 
    }
    
}