@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav div img{
    margin-right: 30px;
    height: 60px;
}
nav{
    padding: 0px 60px;
    display: flex;
    background-color:  #fff;
    color: rgb(9, 9, 9);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 49px -22px rgba(0,0,0,0.75);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header{
    width: 60%;
    align-items: center;
    display: flex;
}
.header ul a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 49px -22px rgba(242, 235, 235, 0.75);
    margin-right: 40px;
}
.header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-icons{
    width: 10%;
    list-style: none;
    display: flex;
}
i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 40px;
}
.hid{
    display: none;
}
.header ul a:hover{
    cursor: pointer;
    border-bottom: 1px solid rgb(253, 6, 6);
}
.home img{
    width: 100%;
    height: 100vh;
    position: relative;
}
.upper-img{
    color: white;
    left: 55px;
    top: 150px;
    font-size: 25px;
    position: absolute;
}
.home button{
    justify-content: center;
    padding: 10px 100px;
    left: 55px;
    bottom: 120px;
    font-size: 15px;
    position: absolute;
}
h1{
    font-weight: 400;
}
h3{
    font-weight: 400;
}

/* g5 are */

.g5{
    height: 75vh;
    margin: 50px 70px;
    display: flex;
}
.g5-text{
    width: 40%;
    height: 80%;
}
.g5-text p{
    margin-bottom: 10px;
    font-size: 30px;
}
.g5-text h1{
    font-size: 64px;
    margin-bottom: 55%;
}
.g5-img{
    width: 60%;
    height: 80%;
}
.g5-img img{
    height: 100%;
    width: 100%;
}
.g5 button{
    padding: 15px 70px;
}
.buy-btn{
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 3px;
}
.learn-btn{
    font-size: 16px;
    padding: 15px 16%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;

}
.g5-img-mobile{
    background-image: url(./assests/LargeCardProduct_PC_10t.jpg.thumb.webp);
    display: none;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.main-tv{
    display: flex;
    margin: 0px 50px;
}
.tv-section{
    display: flex;
    background-color: #f8f8f8;
    width: 50%;
    margin: 0px 10px;
    padding: 20px;
}
.tv-text{
    width: 50%;
}
.tv-img{
    width: 50%;
}
.tv-img img{
    width: 300px;
}
.tv-text h1{
    font-size: 45px;
    font-weight: 390;
}
.tv-text h3{
    width: 80%;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 15px;
}
.tv-text p{
    padding-top: 83px;
    padding-bottom: 15px;
}
.tv-section button{
    font-size: 20px;
    padding: 10px 25px
}
.buy-tv-btn{
    border-radius: 3px;
    background-color: black;
    color: white;
}
.learn-tv-btn{
    border: 1px solid black;
    border-radius: 3px;
}
.tv-h1{
    padding-bottom: 90px;
}
.tv-text img{
    display: none;
}
.normal-h1{
    padding-top: 50px;
    margin: 0px 70px;
    font-size: 16px;
    font-weight: 100;
    border-bottom: 2px solid rgb(197, 192, 192);
}
.sub-main ul{
    margin-top: 50px;
    list-style: none;
    display: flex;
}
.sub-main ul li{
    font-size: 25px;
    font-weight: 400;
    margin-left: 40px;
}

.sub-main ul:first-child{
    margin-left: 70px;
}
.mobile{
    margin: 30px 50px;
    display: flex;
}
.mobile img{
    background-color:#f8f8f8;
    width: 100%;
    height: 70%;
}
.sub-mobile{
    margin-left: 25px;
}
.mobile h1{
    font-size: 32px;
}
.mobile p{
    padding-top: 20px;
    color: red;
}
.mobile h6{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.btn-icon{
    display: flex;
    margin-top: 50px;
    border: none;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
}
.btn-icon{
    background-color: black;
    color: white;
}
.view-all h3{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: 400;
    text-align: center;
}
.black-first{
    padding: 80px;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}
.black-first h2{
    font-weight: 400;
}
.black-first h1{
    padding-top: 50px;
    font-size: 55px;
    font-weight: 400;
    padding-bottom: 40px;
}
.line{
    padding-top: 20px;
    border-bottom: 2px solid white;
}
.light-white-line{
    padding-top: 20px;
    border-bottom: 2px solid rgb(181, 173, 173);
}
.white-heading{
    color: rgba(0,0,0,.75);;
}
.black-first-part{
    display: flex;
}
.black-first-part-img{
    width: 65%;
}
.black-first-part-img img{
    width: 100%;
    height: 100%;
}
.black-first-part-text{
    /* background-color: red; */
    padding-left: 30px;
    padding-right: 10px;
    width: 35%;
}
.black-first-part-text h2{
    font-size: 55px;
    font-weight: 350;
    padding-bottom: 350px;
}
.black-first-part-text p{
    padding-top: 50px;
    font-size: 17px;
    margin-bottom: 20px;
}
.black-link{
    font-size: 18px;
    color: white;
}
.normal-pad{
    margin: 550px;
}
.black-to-white{
    background-color: white;
    color: black;
}
.white-link{
    font-size: 18px;
    color: rgb(9, 9, 9);
}
@media(max-width : 960px){

    .hid{
        display: block;
    }
    .header ul a{
        display: none;
    }
    .nav-icons a{
        display: none;
    }
    nav{
    padding: 0px 40px;
    padding-right: 20px;
    }
    .header img{
        margin-right: 0px;
    }
    .header{
        justify-content: center;
    }
    .g5{    
        margin: 0px;
        width: 100%;
    }
    .g5-text{
        margin-left: 10px;
        width: 100%;
        height: 50%;
    }
    .g5-img{
        display: none;
        width: 100%;
    }
    .g5-img-mobile{
        margin-top: 2px;
        width: 75%;
        height: 100%;
        display: block;
    }
    .g5-text h1{
        margin-bottom: 0%;
    }
    .buy-btn{
        padding: 15px 15px;
    }
    .learn-btn{
        padding: 15px 15px;
     
    }
    .main-tv{
        flex-direction: column;
        margin: 0px;
    }
    .tv-section{
        width: 100%;
    }
    .tv-text{
        width: 100%;
    }
    .tv-img{
     display: none;
    }
    .tv-text img{
        display: block;
        width: 100%;
    }
    .tv-text p{
        padding: 0px;
    }
    .tv-h1{
        padding: 0px;
    }
    .normal-h1{
        padding-top: 50px;
        margin: 0px 20px;
    }
    .sub-main{
        width: 40%;
    }
    /* kal tak ke liye only */
    .mobile{
        flex-direction: column;
    } 
    .sub-main ul{
        display: flex;
        flex-direction: column;
    }
    /* yaha tak */
    .sub-main ul:first-child{
        margin-left: 0%;
    } 
    .btn-icon{
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
@media(max-width:760px){
    
    .home button{
        bottom: 45px;
     }
}
@media(max-width : 1280px){

    nav{
    padding: 0px 40px;
    padding-right: 20px;
    }
    .header img{
        margin-right: 40px;
        margin-left: 40px;
    }
    .header{
        width: 70%;
        justify-content: center;
    }
    
    .nav-icons{
        width: 15%;
    }
    i{
        margin-right: 15px 
    }
    
}